<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeService" />
                <binding name="BasicHttpBinding_IItemService" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IPartsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61968/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
                contract="EmpServiceReference.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:61968/ItemService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IItemService" contract="ItemServiceReference.IItemService"
                name="BasicHttpBinding_IItemService" />
            <endpoint address="http://localhost:61968/orderService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderServiceReference.IOrderService"
                name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:61968/PartsService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPartsService" contract="PartsServiceReference1.IPartsService"
                name="BasicHttpBinding_IPartsService" />
        </client>
    </system.serviceModel>
</configuration>